extends layout 

block content 
  form.form.form(action="" method="POST")
    if (errors)
      div.form__errors
        for error in errors
          span.form__error=error.msg
    div.form__input-wrapper
      label.form__label(for="username") Username
      input.form__input(type="text" name="username" id="username" value=`${errors ? errors.username ? errors.username.value : '': ''}`)
    div.form__input-wrapper
      label.form__label(for="password") Password
      input.form__input(type="password" name="password" id="password" value=`${errors ? errors.password ? errors.password.value : '' : ''}`)
    if (authAction.toLowerCase() === 'sign up')
      div.form__input-wrapper
        label.form__label(for="passwordConfirm") Confirm password
        input.form__input(type="password" name="passwordConfirm" id="passwordConfirm" value=`${errors ? errors.passwordConfirm ? errors.passwordConfirm.value : '' : ''}`)
    button.form__submit(type="submit")= authAction