extends layout 

block content 
  form.form(action="" method="POST")
    if (errors)
      div.form__errors
        for error in errors
          span.form__error= error.msg
    if (incorrectPasswordMsg)
        span.form__error= incorrectPasswordMsg
    div.form__input-wrapper
      label.form__label(for="username") Username
      input.form__input(type="text" name="username" id="username" value=`${username ? username : ""}`)
    div.form__input-wrapper
      label.form__label(for="password") Password
      input.form__input(type="password" name="password" id="password" value=`${password ? password : ""}`)
    if (authAction.toLowerCase() === 'sign up')
      div.form__input-wrapper
        label.form__label(for="passwordConfirm" ) Confirm password
        input.form__input(type="password" name="passwordConfirm" id="passwordConfirm" value=`${passwordConfirm? passwordConfirm : ""}`)
        div.form__avatars
          div.form__avatar
            img(id="avatar-1" src="/images/avatar-1.png")
            input(type="radio" name="avatar" value="1")
          div.form__avatar
            img(id="avatar-2" src="/images/avatar-2.png")
            input(type="radio" name="avatar" value="2")
          div.form__avatar
            img(id="avatar-3" src="/images/avatar-3.png")
            input(type="radio" name="avatar" value="3")
          div.form__avatar
            img(id="avatar-4" src="/images/avatar-4.png")
            input(type="radio" name="avatar" value="4")
          div.form__avatar
            img(id="avatar-5" src="/images/avatar-5.png")
            input(type="radio" name="avatar" value="5")
    button.form__submit(type="submit")= authAction