extends layout

block content
  ul.messages
    each message in messages 
      li(class=`message${user && message.user.id === user.id ? ' message--own' : ''}`)
        div.message__wrapper.message__wrapper--main
          img.message__user-avatar(src=`/images/avatar-${message.user.avatar}.png`)
          //- All escaping is done in express-validator. The one here conflicts with it.
          if (message.introductory || message.sitOnTop)
            //- Show introductory message text anyway
            p.message__text !{message.text}
          else
            //- Show other message texts depending on membership
            p.message__text !{isMember ? message.text : 'Sign up and become a member to see this message!'}
          if (isAdmin || user && message.user.id === user.id)
            form.message__delete(method="POST" action=`/message/delete/${message.id}`)
              button.message__delete(type="submit") &times;
        div.message__wrapper.message__wrapper--main
          if (message.introductory || message.sitOnTop)
            span(class=`message__user-name ${message.user.membership === 'admin' ? 'message__user-name--admin' : ''}`) !{message.user.username}
            if (user && message.user.id === user.id || isAdmin)
              form(method="GET" action=`/message/edit/${message.id}`)
                button.message__edit(type="submit") Edit
            span.message__date= ''
          else
            span(class=`message__user-name ${message.user.membership === 'admin' ? 'message__user-name--admin' : ''}`) !{isMember ? message.user.username : 'Anonymous'}
            if (user && message.user.id === user.id || isAdmin)
              form(method="GET" action=`/message/edit/${message.id}`)
                button.message__edit(type="submit") Edit
            span.message__date= isMember ? message.dateFormatted : 'Date hidden'
    else
      span.messages__empty There are no messages yet. Be the first :)
